.userContainer {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.userCards {
  flex: 0 1 20%;
  padding: 8px;
  margin: 20px;
  box-shadow: 0px 0px 10px 1px rgba(168, 158, 168, 1);
  border-radius: 5px;
}

.userPicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 5px;
}

@media screen and (max-width: 650px) {
  .userContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: center;
  }
  .userCards {
    flex: 0 1 100%;
    margin: 10px;
  }
}
